@font-face {
  font-family: 'Futura';
  src: url('../fonts/Futura-55Regular.woff2') format('woff2'),
      url('../fonts/Futura-55Regular.woff') format('woff'),
      url('../fonts/Futura-55Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/Futura-65Medium.woff2') format('woff2'),
      url('../fonts/Futura-65Medium.woff') format('woff'),
      url('../fonts/Futura-65Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/Futura-46LightItalic.woff2') format('woff2'),
      url('../fonts/Futura-46LightItalic.woff') format('woff'),
      url('../fonts/Futura-46LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/Futura-45Light.woff2') format('woff2'),
      url('../fonts/Futura-45Light.woff') format('woff'),
      url('../fonts/Futura-45Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/Futura-56Italic.woff2') format('woff2'),
      url('../fonts/Futura-56Italic.woff') format('woff'),
      url('../fonts/Futura-56Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/Futura-66MediumItalic.woff2') format('woff2'),
      url('../fonts/Futura-66MediumItalic.woff') format('woff'),
      url('../fonts/Futura-66MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/Futura-76BoldItalic.woff2') format('woff2'),
      url('../fonts/Futura-76BoldItalic.woff') format('woff'),
      url('../fonts/Futura-76BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/Futura-75Bold.woff2') format('woff2'),
      url('../fonts/Futura-75Bold.woff') format('woff'),
      url('../fonts/Futura-75Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: Futura, Helvetica, sans-serif;
  font-size: 10px;
}

body {
  background-color: black;
  color: #fafafa;
}

h1 {
  font-size: 3.5rem;
  font-style: italic;
  font-weight: 500;
  margin-bottom: 2rem;
  text-align: center;
}

h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
}

.logo {
  display: block;
  margin: 1.5rem auto;
  max-width: 180px;
}

.release-img {
  border: white 1px solid;
  display: block;
  margin: 1rem auto;
  max-width: 280px;
}